@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(#ffffff, #bbefff);
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 170px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

nav ul li a:hover{
    color: #4acee8;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 40px;
}
.col-1 h3{
    font-size: 28px;
    color: #5f5f5f;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 p{
    font-size: 16px;
    color: #959595;
    font-weight: 100;
}
.col-1 h4{
    font-size: 25px;
    margin: 20px 0;
}

button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right , #ffaa83, #ff8484);
    cursor: pointer;
    border-radius: 6px;
    transition: width 0.6s;
}

button img{
    width: 30px;
    display: none;
}

button:hover img{
    display: block;
}

button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 50%;
    background: linear-gradient(#46edff, #60c5ff);
    position: absolute;
    left: -35px;
    top: 8px;
    border-radius: 20px;
}

.col-2{
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
.col-2 .controller{
    width: 120%;
}

.col-2 .color-box{
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(#46edff, #60afff);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 95%;
    z-index: -1;
    transform: translateX(200px);
}

.add-btn img{
    width: 35px;
    margin-bottom: 5px;
}

.add-btn{
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.social-links img{
    height: 15px;
    margin: 20px;
    cursor: pointer;
}

.social-links{
    text-align: center;
}

@media (max-width:700px) {
    nav ul{
        width: 98%;
        background: linear-gradient( #ffaa83, #ff8484);
        position: absolute;
        top: 95px;
        right: 0;
        z-index: 2;
        border-radius: 8px;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .controller{
        width: 80%;
    }
    .color-box{
        transform: translateX(75px);
    }
    .col-1{
        flex-basis: 100%;
    }
    .col-1 h2{
        font-size: 35px;
    }
    .col-1 h3{
        font-size: 15px;
    }
    .social-links{
        margin-top: 0;
    }
}
@media screen and (max-width: 940px){
    .services{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 85%;
        display: flex;
        margin: 20px 0;
    }
}